.App {
  width: fit-content;
  height: 100%;
  background-color: #212123;
}
/* When viewport is >1440px align app to the center instead of flexing */
@media screen and (min-width: 1441px) {
  .App {
    margin: 0 auto;
    height: 90vh;
    margin-top: 50px;
    border: 1px solid black;
  }
}
table {
  border-spacing: 10px;
}
.itemDesc {
  padding-right: 15px;
}
.pwd-length {
  width: 200px;
  height: 30px;
}
.flex {
  display: flex;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.Button {
  text-align: center;
  cursor: pointer;
  border: 1px #f8f8f8 solid;
  font-family: arial, sans-serif;
  color: white;
  background: rgb(59, 59, 59);
  border-radius: 30px;
  width: fit-content;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}
.genbtn_wrap {
  padding: 30px 0;
}
.genbtn:hover {
  border: 1px #dadada solid;
}
.genbtn:active {
  margin: 0 1px;
}
.pwdsection {
  gap: 10px;
}
.generated-password-text {
  color: #00ff00;
  font-size: 16px;
  width: 250px;
}
.last-row {
  width: 466px;
}
.copystatus {
  height: 35px;
  align-items: center;
}
.copystatus p {
  background-color: #00ff00;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.776);
}
